<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>ADMIN</title>
    <script src="/js/ws.js" type="text/javascript"></script>
</head>
<body>
<div class="top">
    <img src="logo.png"/>
    <br/>
    ${loggedin?then('<a href="logout">Logout</a>','<a href="login">Login</a>')} <a href="admin">Admin</a>
</div>

<div class="admin">
    <p>Current login: ${login}</p>
    <hr>

    <#if loggedinAsAdmin>

    <p>Websocket request over MessageSystem</p>
    Name for search: <label> <input type="text" id="wsSearchUsername"/> </label>
    <button onClick='wssend()'>Send</button>
    <p>Object sought for: <label id="wsSearchResponse"></label> </p>

    <#else>

    <p><strong>you are not admin</strong></p>

    </#if>

</div>
</body>
</html>
