<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="cacheDataSet" class="ru.otus.sua.L06.Cache.CacheSoftHashMap" destroy-method="dispose">
        <constructor-arg name="maxElements" value="10" type="int"/>
        <constructor-arg name="idleTimeMs" value="2910" type="long"/>
        <constructor-arg name="lifeTimeMs" value="2910" type="long"/>
        <constructor-arg name="isEternal" value="false" type="boolean"/>
    </bean><!--scope="prototype" -->

    <bean id="dbService" class="ru.otus.sua.L14.dbservice.CachedDBServiceHibernateImpl"
          destroy-method="close" >
        <property name="cacheDataSet" ref="cacheDataSet"/>
    </bean>

    <!--Freemarker Templates Loader Configuration-->
    <bean id="freeMarkerConfigurationFactory"
          class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="templateLoaderPath" value="/WEB-INF/classes/templates"/>
        <property name="preferFileSystemAccess" value="true"/>
    </bean>

    <bean id="templateProcessor" class="ru.otus.sua.L14.webserver.TemplateProcessor">
        <property name="configuration" ref="freeMarkerConfigurationFactory"/>
    </bean>

</beans>